body {
	background: #CCC;
	font-family: 'Actor', sans-serif;
}
h3{
	color: #333;
	padding-top: none;
}
li{
	list-style: none;
}
.card{
	background: #369;
	margin: 10px;
	overflow: auto;
} 
/*
*************
HEADER 
*************
*/
header {
	background: #036;
	width: 100%;
}

h1{
	font-size: 40px;
	color: #CCC;
}
header h1{
	padding: 15px 25px;
}
/*
***************
COLUMNS
***************
*/
.colleagues {
	width: 50%;
	float: right;
	padding: 0;
	margin: 0;
}

.left {
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;
}
/*
***************
FIRST IDENTITY CARD
***************
*/
.name{
	font-size: 35px;
	padding-bottom: 0;
	padding-left: 0;
}
.mypic{
	float: left;
	height: 200px;
	width:200px;
	padding: 30px;
	position: relative;
	display: inline-block;
}
.info{
	padding-bottom: 0;
}
.smlinks a:hover{
	border: 1px solid white;
}
.email i{
	color: #D5A725;
	padding-bottom: 15px;
}
.email a {
	color: #D5A725;
}
.info a{
	font-size: 20px;
	text-decoration: none;
}
.info a:hover{
	color:#FFDEAD;
}

/* SOCIAL MEDIA LINKS */
.card ul a i{
	margin: 0 20px;
}

.smlinks{
	padding-left: 0;
	padding-bottom: 20px;
	margin:0;
	
}
.smlinks i{
	color: white;
	font-size: 20px;
}
.smlinks li{
	display: inline;
}
.smlinks a{
	border-radius: 5px;
	
	height: 40px;
	width: 13%;
}
.facebook{
	background-color: #23476A;
	padding-right: 1%;
}
.twitter {
	background-color: #00ABF0;
	padding-right: 1%;
}
.google{
	background-color: #A92A24;
	padding-right: 1%;
}
.linkedin{
	background-color: black;
}
/*
***************
MY HOBBIES
***************
*/

.hobbies{
	list-style: none;
	padding: 15px 30px;
}
.background, .hobby, .video{
	background: #369;
	padding: 15px 30px;
	border-bottom: 2px solid #CCC;
}
.hobbies h2{
	font-size: 25px;
	color: #CCC;
}
.hobby li{
	list-style: none;
}
/*
*************
VIDEO
*************
*/
video{
	width:96%;
	margin-left: 18px;
}
/*
*************
EDUCATION
*************
*/
table{
	border: 0;
	width: 100%;
}
.background label{
	padding-right: 20px;
}
select{
	width: 50%;
}
textarea{
	font-size: 15px;
	resize: none;
	width: 100%;
}
.button {
	width:25%;
	background: white;
	height: auto;
	display: block;
	text-align: center;
	font-style: bold;
	margin-left: 35%;
}
/*
*************
QUOTE
*************
*/
.quote{
	background: url(http://digitalizemoments.files.wordpress.com/2012/01/3-11.jpg);
	padding: 15px 30px;
	border-bottom: 2px solid #CCC;
}
blockquote{
	font-size: 20px;
	font-style: italic;
	color: #CCC;
	background: rgba(0,0,0, .5);
}

/* 
*************
FOOTER
*************
*/
footer{
	background: #036;
	width: 100%;
	clear: both;
}
footer p{
	color: #CCC;
	padding: 15px;
	text-align: right;
}